body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(29, 50px);
    grid-template-rows: repeat(12, 50px);
    gap: 1px; 
    position: relative; 
}

#tools {
    display: flex; 
    justify-content:center; 
    gap: 10px; 
    position: absolute; 
    top: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
}

button {
    padding: 10px; 
    font-size: 16px; 
}

.sky {
    background-color: #87CEEB; 
}

.gray {
    background-color: #A9A9A9; 
}

.green {
    background-color: #32CD32; 
}

.brown {
    background-color: #8B4513; 
}

.dark-gray {
    background-color: #696969; 
}
